/* prism-base16-monokai dark */
code[class*="language-"], pre[class*="language-"] {
	background: #272822;
	color: #F8F8F2;
	direction: ltr;
	font-size: 14px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	line-height: 1.375;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	text-align: left;
	white-space: pre;
	word-break: normal;
	word-spacing: normal;
}

pre[class*="language-"] {
	margin: .5em 0;
	overflow: auto;
	padding: 1.5em 0;
}

:not(pre) > code[class*="language-"] {
	border-radius: .3em;
	padding: .1em;
}

.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: #75715E;
}

.token.punctuation {
	color: #F8F8F2;
}

.token.namespace {
	opacity: .7;
}

.token.operator, .token.boolean, .token.number {
	color: #FD971F;
}

.token.property {
	color: #F4BF75;
}

.token.tag {
	color: #66D9EF;
}

.token.string {
	color: #A1EFE4;
}

.token.selector {
	color: #AE81FF;
}

.token.attr-name {
	color: #FD971F;
}

.token.entity, .token.url, .language-css .token.string, .style .token.string {
	color: #A1EFE4;
}

.token.attr-value, .token.keyword, .token.control, .token.directive, .token.unit {
	color: #A6E22E;
}

.token.statement, .token.regex, .token.atrule {
	color: #A1EFE4;
}

.token.placeholder, .token.variable {
	color: #66D9EF;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #F9F8F5;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important, .token.bold {
	font-weight: bold;
}

.token.important {
	color: #F92672;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: 0.4em solid #F92672;
	outline-offset: .4em;
}

/* Toggle Button */

.themeToggleContainer {
	position: absolute;
	right: 3px;
	top: 3px;

	.themeToggle {
		border: none;
		margin: 0;
		padding: 0;
		position: sticky;

		.toggleBtn {
			@include themify($themes) {
				border: 3px solid themed('themeToggleBackgroundCheckedColour');
			}
			display: inline-block;
			padding: 10px;
			position: relative;
			text-align: center;
			transition: background 600ms ease, color 600ms ease;
		}

		input[type="radio"].toggle {
			display: none;

			& + label {
				//background: #222222;
				cursor: pointer;
				min-width: 60px;

				&:hover {
					@include themify($themes) {
						color: themed('themeToggleTextColour');
					}
					background: none;
				}

				&:after {
					@include themify($themes) {
						background: themed('themeToggleBackgroundCheckedColour');
					}
					content: "";
					height: 100%;
					position: absolute;
					top: 0;
					transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
					width: 100%;
					z-index: -1;
				}
			}

			&.toggleLeft + label {
				border-right: 0;

				&:after{
					left: 100%
				}
			}

			&.toggleRight + label{
				margin-left: -5px;
				@include themify($themes) {
					background: themed('themeToggleBackgroundColour');
				}
				
				&:after{
					left: -100%;
				}
			}

			&:not(:checked + label) {
				opacity: 0.6;
			}

			&:checked + label {
				@include themify($themes) {
					color: themed('themeToggleTextColour');
				}
				cursor: default;
				transition: color 200ms;

				&:after{
					left: 0;
				}
			}
		}
	}
}
