// base variables
$white: #FFFFFF;
$black: #000000;

// light
$light_pink1: #F1CED4;
$light_pink2: #F9CCD3;
$light_grey: #E9EAE0;
$light_black: #391306;
$light_red: #710019;

// dark
$dark_purple: #73436D;
$dark_pink1: #B67C9A;
$dark_pink2: #CBA3B8;
$dark_grey: #E5E6E9;
$dark_black: #1F252F;

$themes: (
    light: (
        background: $light_grey,
        headingColour: $black,
        textColour: #333333,
        textEmphasisColour: $light_black,
        linkColour: $light_red,
        linkColourHover: $light_black,
        borderColour: $light_red,
        headerBackground: $light_pink1,
        themeToggleBackgroundCheckedColour: $light_grey,
        themeToggleBackgroundColour: $light_pink1,
        themeToggleTextColour: #333333,
        postTagColour: $light_red
    ),
    dark: (
        background: $dark_black,
        headingColour: $white,
        textColour: $dark_grey,
        textEmphasisColour: $dark_pink1,
        linkColour: $dark_pink1,
        linkColourHover: $dark_pink2,
        borderColour: $dark_pink1,
        headerBackground: $dark_purple,
        themeToggleBackgroundCheckedColour: $dark_black,
        themeToggleBackgroundColour: $dark_pink1,
        themeToggleTextColour: $dark_grey,
        postTagColour: $dark_pink1
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        html.theme_#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
};

@function themed($key) {
    @return map-get($theme-map, $key);
};
