


$themes: (
    light: (
        background: #E9EAE0,
        headingColour: #000000,
        textColour: #333333,
        textEmphasisColour: #BF6690,
        headerBackground: #F2B8D0,
        themeToggleBackgroundColour: #E9E9E9,
        themeToggleTextColour: #333333
    ),
    dark: (
        background: #1F252F,
        headingColour: #FFFFFF,
        textColour: #E5E6E9,
        textEmphasisColour: #B67C9A,
        headerBackground: #73436D,
        themeToggleBackgroundColour: #1F252F,
        themeToggleTextColour: #E5E6E9
    ),
);

@mixin themify($themes: $themes) {
    @each $theme, $map in $themes {
        html.theme_#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), '#{$key}');
                $theme-map: map-merge($theme-map, ($key: $value)) !global;
            }
            @content;
            $theme-map: null !global;
        }
    }
};

@function themed($key) {
    @return map-get($theme-map, $key);
};
